# Install/Load Zap
source "$ZDOTDIR/zap.zsh"

# Set global paths
plug "$ZDOTDIR/path.zsh"

# Load Plugins
plug "zap-zsh/supercharge"

plug "$ZDOTDIR/mise.zsh"
plug "$ZDOTDIR/pnpm.zsh"

# My Aliases/Functions
plug "$ZDOTDIR/functions.zsh"
plug "$ZDOTDIR/alias.zsh"

plug "zsh-users/zsh-autosuggestions"
plug "hlissner/zsh-autopair"
plug "zsh-users/zsh-syntax-highlighting"
plug "zsh-users/zsh-history-substring-search"
plug "zap-zsh/exa"

# My custom vim config
plug "zap-zsh/vim"
plug "$ZDOTDIR/keymap.zsh"

# My custom prompt
plug "$ZDOTDIR/prompt.zsh"

export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'
export FZF_DEFAULT_COMMAND='fd --type f'
plug "zap-zsh/fzf"
plug "Aloxaf/fzf-tab"

# My Tmux Launcher
plug "$ZDOTDIR/tmux.zsh"

# My History Config
plug "$ZDOTDIR/history.zsh"

eval "$(zoxide init zsh)"
