set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.local/share/tmux/plugins'
run '~/.local/share/tmux/plugins/tpm/tpm'

# =====================================
# ===         Preference            ===
# =====================================

# Use CTRL+a as our tmux command prefix.
set -g prefix C-a
set-option -s set-clipboard on
unbind C-b

#Windows 1 insted of 0
set -g base-index 1
setw -g pane-base-index 1
# Maintain ordinality after swapping windows; and also make sure there is no gaps after killing windows:
set -g renumber-windows on

# Lower the default tmux delay, this makes tmux more responsive.
set -s escape-time 1

#Mouse on
set -g mouse on

# Make tmux act like xterm to prevent Vim issues:

# Only resize the screen size if the smaller screen user has their window
# active. This way my screen won't be resized to an incredibly small window
# unnecessarily.
setw -g aggressive-resize on

# Store a lot of history.
set -g history-limit 100000
#stop the maddness!
set-option -g allow-rename off
#####

# PREFIX r: Instantly reload tmux's configuration file.
bind r source-file $XDG_CONFIG_HOME/tmux/tmux.conf \; display "tmux has been reloaded!"

# PREFIX \: Create a new vertial pane.
bind v split-window -h -c "#{pane_current_path}"

# PREFIX -: Create a new horizontal pane.
bind s split-window -v -c "#{pane_current_path}"
# Use Vim movement key mappings for switching around between panes.
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Use Vim movement key mappings (uppercase) for resizing panes.
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

# Move pane to a different window. You can choose window from a list:
bind-key m choose-window -F "#{window_index}: #{window_name}" "join-pane -h -t %%"
bind-key M choose-window -F "#{window_index}: #{window_name}" "join-pane -v -t %%"

######################
### DESIGN CHANGES ###
######################
## Status bar design
# status line
set -g status-justify left
set -g status-position top
set -g status-bg default
set -g status-fg colour12
set -g status-interval 2
# messaging
# Info on left (I don't have a session display for now)

set-option -g visual-activity off
set-option -g visual-bell off
set-option -g visual-silence off
set-window-option -g monitor-activity off
set-option -g bell-action none


set -g default-terminal "tmux-256color"
set -g terminal-overrides ',xterm-256color:Tc'


# ============================
# ===       Plugins        ===
# ============================
set -g @yank_selection_mouse 'clipboard'
set -g @yank_selection 'clipboard'

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-battery'
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'christoomey/vim-tmux-navigator'

set -g @catppuccin_window_left_separator "█"
set -g @catppuccin_window_right_separator "█"
set -g @catppuccin_window_number_position "left"
set -g @catppuccin_window_middle_separator "█ "

set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_current_fill "number"

set -g @catppuccin_window_current_text "#W#{?window_zoomed_flag,(🔍),}"
set -g @catppuccin_window_default_text "#W"

set -g @catppuccin_status_modules_right "date_time {{ if eq .hostname "T14" }}battery{{ end }} session"
set -g @catppuccin_status_left_separator  ""
set -g @catppuccin_status_right_separator " "
set -g @catppuccin_status_right_separator_inverse "yes"
set -g @catppuccin_status_fill "all"
set -g @catppuccin_status_connect_separator "yes"
set -g @catppuccin_date_time_text "%Y-%m-%d %H:%M:%S"

# use rose-pine colors
set -g @catppuccin_pane_color "#1e1e2e"
set -g @catppuccin_pane_background_color "#181825"

set -g @catppuccin_window_current_color "#eb6f92"
set -g @catppuccin_window_current_background_color "#f5e0dc"

set -g @catppuccin_window_default_color "#ebbcba"
set -g @catppuccin_window_default_background_color "#f5e0dc"

set -g @catppuccin_session_color "#9ccfd8"
set -g @catppuccin_session_background_color "#f5e0dc"

set -g @catppuccin_directory_color "#c4a7e7"
set -g @catppuccin_directory_background_color "#f5e0dc"

set -g @catppuccin_date_time_color "#f6c177"
set -g @catppuccin_date_time_background_color "#f5e0dc"

set -g @batt_icon_charge_tier8 ''
set -g @batt_icon_charge_tier7 ''
set -g @batt_icon_charge_tier6 ''
set -g @batt_icon_charge_tier5 ''
set -g @batt_icon_charge_tier4 ''
set -g @batt_icon_charge_tier3 ''
set -g @batt_icon_charge_tier2 ''
set -g @batt_icon_charge_tier1 ''

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
if "test ! -d $XDG_CONFIG_HOME/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm $XDG_CONFIG_HOME/tmux/plugins/tpm'"

run '$XDG_CONFIG_HOME/tmux/plugins/tpm/tpm'
