[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Syncthing UI
GenericName=Syncthing UI
Exec=xdg-open http://localhost:8384
Categories=Network;FileTransfer;
StartupNotify=true
Icon=syncthing
