[Desktop Entry]
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;WebBrowser;
Name=Nvim Terminal
Comment=The 100% fresh free-range ethical browser
Exec=/usr/bin/wezterm-gui start nvim %F
Icon=nvim
